body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#idHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divTela{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 300px;
    height: 150px;
    border: 2px solid black;
    background-color: white;
    margin: 20px;
}

#idFieldset{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 213, 204, 0.788);
}

.divTeclado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color: white;
}
.classBackteclado{
    height: 150px;
    width: 200px;
    background-color: black;
}

.classConfirmarBtn{
    border: outset;
    cursor: pointer;
    width: 70px;
    height: 40px;
    background-color: rgb(31, 236, 31);
}

.classCancelarBtn{
    border: outset;
    cursor: pointer;
    width: 70px;
    height: 40px;
    background-color: rgb(218, 117, 50);
}

.classBrancoBtn{
    border: outset;
    cursor: pointer;
    width: 70px;
    height: 40px;
    background-color: white;
}
